<!doctype html>
<html>
  <head>
    <title>Example application</title>
  </head>
  <body>
    <a href="/users">Пользователи</a>
    <!-- BEGIN (write your solution here) -->
    <table border="1">
        <thead>
          <tr>
            <th>Attribute</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>        
            <tr>
                <td>id</td>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <td>first_name</td>
                <td>{{ user.first_name }}</td>
            </tr>
            <tr>
                <td>last_name</td>
                <td>{{ user.last_name }}</td>
            </tr>
            <tr>
                <td>email</td>
                <td>{{ user.email }}</td>
            </tr>
        </tbody>
      </table>
    <!-- END -->
  </body>
</html>
